// ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO ODOO 


// ODOO SPECIFIC SNIPPET OPTIONS
.media-fit {
  &-cover { object-fit: cover; }
  &-contain { object-fit: contain; }
  &-full { object-fit: none; }

}


// === Odoo Theme Overrides ===
// Navbar nested dropdown background color
.navbar .o_extra_menu_items.show > ul > li > a.dropdown-toggle {
  background-color: $color-1;
}

// Footer Scroll to top button
#o_footer_scrolltop {
  border: 2px solid currentColor;
}

// Image carousel / gallery / quotes arrows
.s_image_gallery.o_slideshow[data-vcss="001"] .carousel .carousel-control-next .fa,
.s_gallery_lightbox .modal-body.o_slideshow .carousel .carousel-control-next .fa,
.s_image_gallery.o_slideshow[data-vcss="001"] .carousel .carousel-control-prev .fa,
.s_gallery_lightbox .modal-body.o_slideshow .carousel .carousel-control-prev .fa,
.s_carousel.s_carousel_default .carousel-control-prev-icon:before, .s_carousel.s_carousel_default .carousel-control-next-icon:before, .s_quotes_carousel.s_carousel_default .carousel-control-prev-icon:before, .s_quotes_carousel.s_carousel_default .carousel-control-next-icon:before {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

// Image Gallery thumbnails - Remove bottom margin to give more space between thumbnails and the image above
.carousel-indicators {
  margin-bottom: 0;
  // background: red;
}



// Search results adjustment
.o_search_product_item {
  .media-body h6 { margin-bottom: spacer(1); }
}

// Change the left hand padding of the buttons in the grid area that show the categories and options on smaller sized screens
// #products_grid_before {
//     & > button {
//         @include media-breakpoint-down(xl) {
//             padding-left: 0;
//         }
//     }
// }

// Set the flex-wrap propertie and spacing on this to allow for wrap around of pages on smaller screens
.pagination {
  flex-wrap: wrap;

  // Change the left margins created to help with border doubling in-between pagination items
  margin-left: $border-width !important;
  margin-top: calc(#{$border-width} + #{spacer(2)}) !important;

  .page-item > .page-link { 
      margin-left: -1 * $border-width;
      margin-top: -1 * $border-width; 
  }

}


// ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS ODOO SNIPPETS 

// Alert snippet, adjust padding between alert and text
.s_alert_icon {
  margin-right: spacer(2);
}

// Media Item Snippet
.s_media_list[data-vcss="001"] .s_media_list_body {
  padding: spacer(3);
}

// Hide image shape / shadow / and thumbnail buttons (they look like trash, and aren't consistant with the rest of the theme. Also hide the resizing buttons, as we've added that functionality in the snippet options for images, and it's a better location since that's where the resolution option, and quality is.
#oe_snippets#oe_snippets .o_we_snippet_text_tools {
  .btn[data-event='imageShape'][data-value='rounded'],
  .btn[data-event='imageShape'][data-value='rounded-circle'],
  .btn[data-event='imageShape'][data-value='shadow'],
  .btn[data-event='imageShape'][data-value='img-thumbnail'],
  .btn[data-event='resize'][data-value='auto'],
  .btn[data-event='resize'][data-value='1'],
  .btn[data-event='resize'][data-value='0.5'],
  .btn[data-event='resize'][data-value='0.25'] {
      display: none;
  }
}

// Image Crop Editor
// Set Primary Button to regular (not outline) for readability purposes
.o_we_crop_buttons .btn.btn-primary{
  @include button-variant($primary, $primary);
}

// Card Inner Snippet
.s_card {
  margin-top: 0;
  margin-bottom: $spacer * .5;
}

.s_share {
  margin-bottom: $spacer * .5;
}

.s_wsale_products_searchbar_input {
  margin-bottom: $spacer * .5;
}

// Undo Odoo's custom padding here
.s_color_blocks_2 [class*="col-lg-"] {
  padding-top: unset;
  padding-bottom: unset;
  padding-left: $grid-gutter-width * .5;
  padding-right: $grid-gutter-width * .5;
}

// Remove border from mega menu dropdown
.o_mega_menu {
  border: none;
}